@page
@model EditModel


<h2>Edit Account</h2>      
<form method="post">

        <div class="row">
        <div class="form-group col-lg-4 col-md-6 col">
                <label for="balance">Balance</label>
                <input min="0" name="balance" placeholder="Balance" class="form-control px-2 py-2 mb-2" asp-for="balance"
                        type="number"/>
        </div>
        <div class="form-group col-lg-4 col-md-6 col">
                <label for="firstname">First Name</label>
                <input name="firstname" placeholder="FirstName" class="form-control px-2 py-2 mb-2" asp-for="firstName"
                        type="text"/>
        </div>
        <div class="form-group col-lg-4 col-md-6 col">
                <label for="lastname">LastName</label>
                <input name="lastname" placeholder="LastName" class="form-control px-2 py-2 mb-2" asp-for="lastName"
                        type="text"/>
        </div>
        </div>     

        <input class="btn btn-secondary" type="submit" value="Update" />
</form>

<hr>
<h2>Other data</h2>
<div class="row gx-3 gy-4">
        <div class="col-lg-4">
                <div class="bg-dark px-3 py-3 rounded">
                        <p>
                                <Strong class="text-white">
                                        Account Number
                                </Strong>
                        </p>       
                </div>     
        </div> 
        <div class="col-lg-6">
                <div class="bg-dark px-3 py-3 rounded">
                        <p class="text-white">
                                @Model.ClientAccountVM.AccountNum
                        </p> 
                </div>   
        </div>

        <div class="col-lg-4">
                <div class="bg-dark px-3 py-3 rounded">
                        <p>
                                <Strong class="text-white">
                                       Client ID
                                </Strong>
                        </p>       
                </div>     
        </div>
        <div class="col-lg-6">
                <div class="bg-dark px-3 py-3 rounded">
                        <p class="text-white">
                                @Model.ClientAccountVM.ClientID
                        </p>
                </div> 
        </div>

        <div class="col-lg-4">
                <div class="bg-dark px-3 py-3 rounded">
                        <p>
                                <Strong class="text-white">
                                        Client Email
                                </Strong>
                        </p>       
                </div>   
        </div>
        <div class="col-lg-6">
                <div class="bg-dark px-3 py-3 rounded">
                        <p class="text-white">
                                @Model.ClientAccountVM.ClientEmail
                        </p>
                </div> 
                
        </div>     
        <div class="col-lg-4">
                <div class="bg-dark px-3 py-3 rounded">
                        <p>
                                <Strong class="text-white">
                                       Account Type
                                </Strong>
                        </p>       
                </div>  
        </div>    
        <div class="col-lg-6">
                <div class="bg-dark px-3 py-3 rounded">
                        <p class="text-white">
                                @Model.ClientAccountVM.AccountType
                        </p>
                </div> 
        </div>
     
</div>                 