@page
@model WebApplication1.Pages.SecureAreaModel
@{
}
We are in the secure area.
<br />
<h2>Identity User:   @Model.userName</h2>
<h2>Email: @Model.registeredUser.Email</h2>
<h2>First Name: @Model.registeredUser.FirstName</h2>
<h2>Last Name: @Model.registeredUser.LastName</h2>

